<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ck.dndcopilot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CharacterSelectActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterHomeActivity"
            android:label="@string/title_activity_character_home"
            android:parentActivityName=".CharacterSelectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ck.dndcopilot.CharacterSelectActivity" />
        </activity>
        <activity
            android:name=".SpellsActivity"
            android:label="@string/title_activity_spells"
            android:parentActivityName=".CharacterHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharacterHomeActivity" />
        </activity>
        <activity
            android:name=".CharSheetActivity"
            android:label="@string/title_activity_char_sheet"
            android:parentActivityName=".CharacterHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ck.dndcopilot.CharacterHomeActivity" />
        </activity>
    </application>

</manifest>
